* text=auto
*.php text eol=lf

.github/* export-ignore
.phan/* export-ignore
img/* export-ignore

ecl.yml export-ignore
phpcs.xml export-ignore
phpmd.xml export-ignore
phpstan.neon export-ignore
psalm.xml export-ignore
